* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Lexend Deca";
}

html,body {
    width:100%;
    height:100%;
}

#main{
    height:100%;
    width:100%;
    background-color: white;

}

#nav{
    height:100px;
    width:100%;
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

}
#n1{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:5px;
}

#nav h3{
    font-size: 17px;
    border: 2px solid #000;
    padding: 5px 8px;
    border-radius: 50px;
    font-weight:500;
}

#nav i {
    font-size: 17px;
    border: 2px solid #000;
    padding: 5px 8px;
    border-radius: 50px;
    font-weight:500;
}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button{
    padding:7px 12px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
}

button#btn2 {
    color: #fff;
    border:none;
    background-color: orangered !important ;
}


#ji{
    font-size: 9vw;
    font-weight: 300;
    text-transform: uppercase;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    text-align: center;
}

img{
    height:40%;
    width:20%;
    object-fit:cover;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#end{
    position: absolute;
    bottom:5%;
    height:100px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#btmleft{
    position: absolute;
    bottom:5%;
    left:5%;
    font-size:17px;
}

#circle i{
    position: absolute;
    bottom:-60%;
    left:45%;
    
    font-size: 40px;
    border: 2px solid #000;
    padding: 40px 40px;
    border-radius: 150px;
    font-weight:500;
    
}

/*
.btn {
    transition: all 0.3s ease-in-out;
    
  }
  
  .btn {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline:none ;
    cursor: pointer;
    border: none;
    font-size: 17px;
    color: white;
  }
  
  .btn:hover {
    transform: translateY(5px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.2;
  }

  */
